<div class="wrapper">
  <div class="page-header page-header-smaller" filter-color="orange">
    <div class="page-header-image" style="background-image: url('../assets/img/stadium_night.jpg');">
    </div>
    <div class="container" >
      <div class="content-center">
          <h3 class="title" style="margin-bottom:0px; margin-top:40px">Leaderboard</h3>
          <div class="content">
              <div class="social-description col-sm-6" *ngIf="!!leaders">
                  <h3 style="margin-bottom:10px">{{leaders.length}}</h3>
                  <p>Total Players</p>
              </div>
              
              <div class="social-description col-sm-6" *ngIf="!!leaders">
                  <h3 style="margin-bottom:10px">{{aiLeadersList.length}}</h3>
                  <p>ML Teams</p>
              </div>
        </div>
      </div>
                
       
      </div>
    </div>
  </div>

  <div class="section-predict">
      <div class="row">
          <!-- Nav tabs -->
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#util" role="tablist">
                    <i class="now-ui-icons users_single-02"></i>
                    All
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#result" role="tab">
                    <i class="now-ui-icons tech_laptop"></i>
                    AI
                  </a>
                </li>
              </ul>
            </div>

            <div class="card-body" style="padding-top: 0px">
              <!-- Tab panes -->
              <div class="tab-content text-center">
                <div class="tab-pane active" id="util" role="tabpanel">
                    <div class="col-md-12 coll-md-offset-1" style="padding-top: 10px">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." 
                                   [(ngModel)]="allSearchTerm">
                                   <span class="input-group-addon">
                                      <i class="now-ui-icons ui-1_zoom-bold"></i>
                                  </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <!--<th class="text-center">#</th>-->
                              <th class="text-center">Rank</th>
                              <th>Name</th>
                              <th class="text-right">Points</th>
                              <th class="text-right">Category</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!---->
                            <tr class="ng-star-inserted" *ngFor="let leader of leaders | filter : allSearchTerm; let i = index">
                                <!--<td class="text-center">{{i+1}}</td>-->
                                <td class="text-center">{{leader.rank}}</td>
                                <td class="text-left">{{leader.name}}</td>
                                <td class="text-right">{{leader.balance}}</td>
                                <td class="text-right">
                                      <div *ngIf="leader.category == 0"><i class="now-ui-icons users_single-02"></i></div>
                                      <div *ngIf="leader.category == 1"><i class="now-ui-icons tech_laptop text-primary"></i></div>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class="tab-pane" id="result" role="tabpanel">
                    <div class="col-md-12 coll-md-offset-1" style="padding-top: 10px">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..."
                                   [(ngModel)]="aiSearchTerm">
                                   <span class="input-group-addon">
                                      <i class="now-ui-icons ui-1_zoom-bold"></i>
                                  </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="text-center">Rank</th>
                              <th>Name</th>
                              <th class="text-right">Points</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!---->
                            <tr class="ng-star-inserted" *ngFor="let leader of aiLeadersList | filter : aiSearchTerm; let i = index">
                                <td class="text-center">{{leader.aiRank}}</td>
                                <td class="text-left">{{leader.name}}</td>
                                <td class="text-right">{{leader.balance}}</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                </div>

              </div>
            </div>
          </div>

        <!-- End Tabs on plain Card -->
      </div>

    



  </div>