<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/ground2.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="post" 
                        (ngSubmit)="submitForm()">
                    <div class="header header-primary text-center">
                        <h4>Register Your Key</h4>
                    </div>
                    
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08 text-white"></i>
                            </span>
                            <input type="text" class="form-control"
                                   name="username" id="username" placeholder="Interesting nick name"
                                   [(ngModel)]="model.username">
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons text_caps-small text-white"></i>
                            </span>
                            <input type="text" placeholder="Full Name"
                                   class="form-control" 
                                   name="fullname"
                                   [(ngModel)]="model.fullname"/>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons objects_key-25 text-white"></i>
                            </span>
                            <input type="text" disabled class="form-control text-grey" value="{{model.key}}"
                                   name="privatekey"/>
                        </div>
                        <div class="header header-primary text-center">
                              <div class="checkbox">
                                    <input id="checkbox2" type="checkbox" name="ml"  [(ngModel)]="model.isMLTeam">
                                    <label for="checkbox2">
                                            Registering as ML Team? 
                                    </label>
                                </div>
                            </div>
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round btn-block btn-lg" 
                                type="button" (click)="checkUserName()"
                                [disabled]="submitInProgress">Register</button>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="isError">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons objects_support-17"></i>
                                </div>
                                <strong>Oh snap!</strong> {{errorMsg}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

    