<!--<div class="profile-page sidebar-collapse">-->

<!-- End Navbar -->
<div class="wrapper profile-page" *ngIf="isAccountInfoLoaded">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image:url(../../assets/img/bg11.jpg);">
        </div>
        <div class="container">
            <div class="content-center">

                <h3 class="title">{{model.username}}</h3>
                <p class="category" style="font-size:10px">{{model.account}}</p>
                <div class="content">
                    <div class="social-description col-sm-6">
                        <h2>{{model.balance}}</h2>
                        <p>My Balance</p>
                    </div>
                    <!--
                    <div class="social-description col-sm-6">
                        <h2>#2</h2>
                        <p>Rank</p>
                    </div>
                    <div class="social-description col-sm-6">
                        <h2>5:8</h2>
                        <p>Win Loss Ratio</p>
                    </div>
                    <div class="social-description col-sm-6">
                        <h2>25000</h2>
                        <p>Pot Size</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a class="btn btn-primary btn-round btn-lg text-white">Today's Matches </a>
                <!--
                    (click)="sendCoin()"
                <a href="#button" class="btn btn-primary btn-round btn-lg" (click)="refreshBalance()">Balance refresh</a>-->
            </div>


            <div class="col-md-12 offset-md-2 col-lg-12 offset-lg-2">

                <app-match-info></app-match-info>

            </div>
        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container text-center">
            
                        Team ABC
           
        </div>
    </footer>
</div>



<div id="loader" *ngIf="!isAccountInfoLoaded"></div>