<!--<div class="profile-page sidebar-collapse">-->

<!-- End Navbar -->
<div class="wrapper profile-page" *ngIf="isAccountInfoLoaded">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image:url(../../assets/img/ground5.jpg);">
        </div>
        <div class="container">
            <div class="content-center">

                <h3 class="title">{{model.username}}</h3>
                <p class="category" style="font-size:10px">{{model.account}}</p>
                <div class="content">
                    <div class="social-description col-sm-6" *ngIf="!isHalted">
                        <h2>{{model.balance}}</h2>
                        <p>My Balance</p>
                    </div>
                    <!-- <div *ngIf="isHalted">
                        <br>
                        <h4>Thank You</h4>
                            <h5>for making ABC IPL a success</h5>
                            <h2><i class="now-ui-icons emoticons_satisfied"></i> </h2>
                        </div> -->
                   
                    <!--
                    <div class="social-description col-sm-6">
                        <h2>#2</h2>
                        <p>Rank</p>
                    </div>
                    <div class="social-description col-sm-6">
                        <h2>5:8</h2>
                        <p>Win Loss Ratio</p>
                    </div>
                    <div class="social-description col-sm-6">
                        <h2>25000</h2>
                        <p>Pot Size</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container" *ngIf="!isHalted">
                <a class="btn btn-primary btn-round btn-lg text-white">Today's Matches </a>
                <!--
                    (click)="sendCoin()"
                <a href="#button" class="btn btn-primary btn-round btn-lg" (click)="refreshBalance()">Balance refresh</a>-->
            </div>


            <div class="col-md-12 offset-md-2 col-lg-12 offset-lg-2">

                <app-match-info></app-match-info>

            </div>
        </div>
    </div>
  
    <div class="container text-center" *ngIf="isAdmin">
            <a routerLink="/special">Khul ja sim sim</a>
    </div>
    <footer class="footer footer-default">
        <div class="container text-center">
                        Team ABCIPL
        </div>
    </footer>
</div>


<div *ngIf="!isAccountInfoLoaded" style="height: 100%">
    <div id="loader"></div>
    <div id="loader-wrapper container text-center">
            <div class="container text-center" style="position: relative;">
                <br><br><br>{{infoUpdates}}
            </div>
            <div class="container text-center" style="position: relative;">
                    <br><br><br><a href="http://j.mp/abciplhelpdesk" target="_blank">Support WhatsApp Group</a>
                </div>
                
    </div>
    
</div>
