<div *ngFor="let match of todaysMatches; let i = index" class= "row valign-wrapper">

  <div class="card card-blog">
    <div class="card-body text-center">
      <h6 class="category text-danger">
        <i class="now-ui-icons media-2_sound-wave"></i>Match {{i + 1}}
      </h6>
      <h5 class="card-title">
        {{match.team1}}<br/>
        v<br/>
        {{match.team2}}
      </h5>
      <p class="card-description">
        {{match.time}}
      </p>
      <a routerLink="/matchpredict" class="btn btn-primary">Predict</a>
    </div>
  </div>

</div>
