<div class="wrapper">
  <div class="page-header page-header-smaller" filter-color="orange">
    <div class="page-header-image" style="background-image: url('../assets/img/stadium_night.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title" style="margin-bottom:0px">Lets Predict</h1>
      </div>
    </div>
  </div>

  <div class="section-predict" *ngIf="isDataLoaded">
    <div class="container">
      <div class="col-md-12 offset-md-2 col-lg-12 offset-lg-2">
        <div class="row valign-wrapper">
          <div class="card card-blog">
            <div class="card-body text-center">
              <h5 class="card-title">
                Highest Scorer
              </h5>

              <select class="browser-default">
                <!--  browser-default-->
                <option value="" disabled selected>Choose player</option>
                <optgroup *ngFor="let team of todaysTeams" label="{{team.name}}">
                  <option *ngFor="let member of team.squad" value="{{member.pid}}" (click)="handleEvent($event.target.value, 'highestScorerEvent')">{{member.pname}}</option>
                </optgroup>
              </select>
              <br/>
              <br/>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons business_money-coins"></i>
                    </span>
                    <input type="number" pattern="\d*" class="form-control" placeholder="Enter points to assign">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats stats-left">
                  <i class="now-ui-icons objects_spaceship"></i> 2x
                </div>
                <div class="stats stats-right">
                  <i class="now-ui-icons media-2_sound-wave"></i> 342
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Wicket Taker -->
        <div class="row valign-wrapper">
          <div class="card card-blog">
            <div class="card-body text-center">
              <h5 class="card-title">
                Best Bowler
              </h5>

              <select class="browser-default">
                <!--  browser-default-->
                <option value="" disabled selected>Choose player</option>
                <optgroup *ngFor="let team of todaysTeams" label="{{team.name}}">
                  <option *ngFor="let member of team.squad" value="{{member.pid}}" (click)="handleEvent($event.target.value, 'bestBowlerEvent')">{{member.pname}}</option>
                </optgroup>
              </select>
              <br/>
              <br/>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons business_money-coins"></i>
                    </span>
                    <input type="number" pattern="\d*" class="form-control" placeholder="Enter points to assign">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats stats-left">
                  <i class="now-ui-icons objects_spaceship"></i> 2x
                </div>
                <div class="stats stats-right">
                  <i class="now-ui-icons media-2_sound-wave"></i> 342
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Man of the Match -->
        <div class="row valign-wrapper">
          <div class="card card-blog">
            <div class="card-body text-center">
              <h5 class="card-title">
                Man of the Match
              </h5>

              <select class="browser-default">
                <!--  browser-default-->
                <option value="" disabled selected>Choose player</option>
                <optgroup *ngFor="let team of todaysTeams" label="{{team.name}}">
                  <option *ngFor="let member of team.squad" value="{{member.pid}}" (click)="handleEvent($event.target.value, 'momEvent')">{{member.pname}}</option>
                </optgroup>
              </select>
              <br/>
              <br/>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons business_money-coins"></i>
                    </span>
                    <input type="number" pattern="\d*" class="form-control" placeholder="Enter points to assign">
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <div class="stats stats-left">
                  <i class="now-ui-icons objects_spaceship"></i> 2x
                </div>
                <div class="stats stats-right">
                  <i class="now-ui-icons media-2_sound-wave"></i> 342
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Winner Team -->
        <div class="row valign-wrapper">
          <div class="card card-blog">
            <div class="card-body text-center">
              <h5 class="card-title">
                Winning Team
              </h5>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div *ngFor="let team of todaysTeams; let i = index" class="radio" style="text-align:left">
                    <input name="grpTossWinner" type="radio" id="fToss{{i+1}}" class="with-gap" value="{{team.teamid}}" (change)="handleEvent($event, 'tossWinnerEvent')"
                    />
                    <label for="fToss{{i+1}}">{{team.name}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons business_money-coins"></i>
                    </span>
                    <input type="number" pattern="\d*" class="form-control" placeholder="Enter points to assign">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats stats-left">
                  <i class="now-ui-icons objects_spaceship"></i> 2x
                </div>
                <div class="stats stats-right">
                  <i class="now-ui-icons media-2_sound-wave"></i> 342
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- 1st Innnings Score -->
        <div class="row valign-wrapper">
          <div class="card card-blog">
            <div class="card-body text-center">
              <h5 class="card-title">
                1st Innings Score
              </h5>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons sport_user-run"></i>
                    </span>
                    <input type="number" pattern="\d*" class="form-control" placeholder="Enter predicted runs">
                  </div>
                </div>
              </div>

              <!--<p class="card-description">
                Assign Points
              </p>-->
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons business_money-coins"></i>
                    </span>
                    <input type="number" pattern="\d*" class="form-control" placeholder="Enter points to assign">
                  </div>
                </div>
              </div>

              <!--<p class="range-field">
                    <input type="range" id="test5" min="0" max="10000" value="25" (change)="updateRange($event)"/>
                </p>-->
              <div class="card-footer">
                <div class="stats stats-left">
                  <i class="now-ui-icons objects_spaceship"></i> 2x
                </div>
                <div class="stats stats-right">
                  <i class="now-ui-icons media-2_sound-wave"></i> 342
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Submit to Blockchain</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Designed by
        <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>