<div class="wrapper">
  <div class="page-header page-header-smaller" filter-color="orange">
    <div class="page-header-image" style="background-image: url('../assets/img/stadium_night.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title" style="margin-bottom:0px">Lets Predict</h1>
      </div>
    </div>
  </div>

  <div class="section-predict">
    <div class="container">
      <div class="col-md-12 offset-md-2 col-lg-12 offset-lg-2">
        <div class="row valign-wrapper">
          <div class="card card-blog">
            <div class="card-body text-center">
              <h5 class="card-title">
                Highest Scorer
              </h5>
              <p class="card-description">
                qweqeeeqwewq
              </p>
              <select>
                <optgroup label="Team 1">
                  <option>Hello</option>
                  <option>Hi</option>
                </optgroup>
              </select>
              <div id="sliderRegular" class="slider"></div>

              <p class="range-field">
                  <input type="range" id="test5" min="0" max="100" value="25" (change)="updateRange($event)"/>
              </p>
              
              <a routerLink="/matchpredict" class="btn btn-primary">Predict</a>
            </div>
          </div>

        </div>

        <div class="row valign-wrapper">
            <div class="card card-blog">
              <div class="card-body text-center">
                <h6 class="category text-danger">
                  <i class="now-ui-icons media-2_sound-wave"></i>Match
                </h6>
                <h5 class="card-title">
                  asdasdasd
                  <br/> v
                  <br/> adsadasda
                </h5>
                <p class="card-description">
                  qweqeeeqwewq
                </p>
                <a routerLink="/matchpredict" class="btn btn-primary">Predict</a>
              </div>
            </div>
  
          </div>

        <h3 class="title">About me</h3>
        <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes,
          performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist
          of considerable range.
        </h5>
      </div>
    </div>
  </div>








  <div class="section section-contact-us text-center">
    <div class="container">
      <h2 class="title">Want to work with us?</h2>
      <p class="description">Your project is very important to us.</p>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div class="input-group input-lg">
            <span class="input-group-addon">
              <i class="now-ui-icons users_circle-08"></i>
            </span>
            <input type="text" class="form-control" placeholder="First Name...">
          </div>
          <div class="input-group input-lg">
            <span class="input-group-addon">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
            <input type="text" class="form-control" placeholder="Email...">
          </div>
          <div class="textarea-container">
            <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
          </div>
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Designed by
        <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>